# systemd service for managing all PostgreSQL clusters on the system. This
# service is actually a systemd target, but we are using a service since
# targets cannot be reloaded.

[Unit]
Description=PostgreSQL RDBMS

[Service]
Type=forking 
ExecStart=/etc/init.d/pgsql start   
ExecStop=/etc/init.d/pgsql stop
ExecRestart=/etc/init.d/pgsql restart
ExecReload=/etc/init.d/pgsql reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target